<%- include('../partials/head') %>
     </head>

     <body>
          <%- include('../partials/navbar3') %>
               <%- include('../partials/flash') %>
                    <div>
                         <h1>
                              <%= post.message %>
                         </h1>
                         <h3>Posted By: <%= post.sender.name %></h3>
                         <a href="/camps/<%= post.sender._id  %>">Sender Profile</a>
                         <% if(post.user.length>0) {%>
                              <h3>Recent Donations</h3>
                              <% for(let i=0;i<post.user.length;i++){ %>
                                   <div>
                                   <%= post.user[i].username %> given <%= post.money[i] %>
                                  </div>
                                   <a href="/users/<%= post.user[i]._id  %>">Profile</a>
                              <% } %>
                         <% }%>
                         <% if(post.user.length==0){ %>
                              <h4>No Donations </h4>
                         <% } %>
                    </div>


                    <form action="/<%= post._id  %>/donate" method="POST" novalidate class="validated-form">
                    <div class="mb-3">
                         <label class="form-label" for="price">Money</label>
                         <div class="input-group">
                             <span class="input-group-text" id="price-label">$</span>
                             <input type="text" class="form-control" id="money" placeholder="0.00" aria-label="money"
                                 aria-describedby="money-label" name="money" required>
                         </div>
                         <div class="valid-feedback">
                             Looks good!
                         </div>
                     </div>
                     <div class="mb-3">
                         <button class="btn btn-success">Donate</button>
                     </div>


     </body>
     <%- include('../partials/footer')%></br>